{% extends "stock_manager/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
<script src="{% static 'admin/js/core.js' %}"></script>
<script src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}


{% block content %}
<h2>Trade Management</h2>
<hr>
<form action="{% url 'stk:stock_management_new_trade_record' %}" method="POST" id="new_trade_form">
    {% csrf_token %}
    <table class='table table-boarded table-hover'>
        <thead></thead>
        <tbody>
            {{ form.as_table }}
        </tbody>
    </table>
    <input class="btn btn-success" type="submit" value="儲存" />
</form>

<div id="trade_table">
    {{html_table|safe}}
</div>

{% endblock %}


{% block script %}
{% load static %}

<script>
$(document).ready(function(){
    $("#new_trade_form").submit(function(e){
        e.preventDefault();
        var form = $(this);
        var url_send =  $(this).attr("action");
        $.ajax({
            url:url_send,
            method: "POST",
            data: form.serialize(),
            success:function(res){
                location.reload();
            },
            error:function(err){
                
            },
        });
    });

});




</script>
{% endblock %}